* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* justify-content: center; */
}

:root {
    --primary: #27204a
    --background-color: #faf8f1;
    --text-color: #333;
    --card-bg: white;
    --input-bg: #f5f5f5;
    --input-border: #ddd;
    --input-text: #333;
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --slider-bg-color: #ccc;
    --slider-circle-color: #faf8f1;
}


body {
    --primary: #27204a;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* min-height: 100vh; */
}
body.dark {
    --bg: #0f172a;
    --text-colos: #e5e7eb;
    --card-bg: #1e293b;
    --input-bg: #334155;
    --input-border: #475569;
    --input-text: #e5e7eb;
}

.toggle {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 1.1rem;
    z-index: 100;
}

.toggle input [type="checkbox"] {
    appearance: none;
    width: 50px;
    height: 26px;
    background: #ccc;
    border-radius: 26px;
    position: relative;cursor: pointer;
    transition: background 0.3s;
}

.toggle input [type="checkbox"]::checked {
    background: var(--primary);
}

.toggle input [type="checkbox"]::after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 22px;
    height: 22px;
    background: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle input [type="checkbox"]::checked::after {
    transform: translateX(24px);
}

.auth{
    width: 800px;
    max-width: 90%;
    background: var(--card-bg);
    display: flex;
    /* justify-content: space-between; */
    border-radius: 16px;
    /* gap: 0.7rem; */
    box-shadow: var(--shadow);
    overflow: hidden;
    margin: 0 auto;
}
.auth > * {
    flex: 1;
}

.left {
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5rem 3rem;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.left h2 {
    font-size: 3rem;
    margin-bottom: 1.2rem;
}

left p {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    opacity: 0.9;
}

.left button {
    background: white;
    color: var(--primary);
    border: none;
    padding: 14px 32px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.left button:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px ergba(0,0,0,0.25);
}

.right {
    padding: 5rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
}

.right h3 {
    font-size: 2.2rem;
    color: var(--primary);
    text-align: center;
}

.input-group {
    position: relative;
}

.input-group input {
    width: 100%;
    padding: 16px 20px 16px 20px;
    font-size: 1.2rem;
    border: 1px solid var(--input-border);
    background: var(--input-bg);
    border-radius: 10px;
    transition: all 0.3s;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary);
    box-sizing: 0 0 0 4px rgba(39, 32, 74, 0.2);
}

.input-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #888;
    font-size: 1.3rem;
}

btn {
    width: 100%;
    padding: 16px;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(90deg, #000, var(--primary));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 30px(0, 0, 0 , 0.25);
}

.forgot {
    text-align: center;
    font-size: 1rem;
}

.forgot a {
    color: var(--primary);
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

.demo-note {
    text-align: center;
    font-size: 0.95rem;
    color: #777;
    margin-top: 1rem;
}

@media (max-width: 768px) {
    .auth{
        flex-direction: column;
    }
    .left {
        padding: 4rem 2rem;
        border-radius: 16px 16px 0 0;
    }
    .right {
        padding: 4rem 2.5rem;
    }
}
/* .left > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    color: white;
    padding: 2rem;
}

left h2 {
    font-size: 1.8rem;
}

.left > div > p {
    font-size: 0.75rem;
}

/* .left > div > button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    width: fit-content;
    padding: 5px 12px;
    border-radius: 5px;
} */

/* left button, right button {
    cursor: pointer;
    transition: all 0.3 ease;
}

left button:hover, right button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}
.right {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

right h3 {
    font-size: 1.6rem;
    color: var(--primary);
    margin-bottom: 1rem;
}
.right p {
    font-size: 0.7rem;
    color: #555555;
    text-align: center;
}

.input-group {
    position: relative;
    width: 100%;
}
.input-group i {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}
.input-group input {
    padding: 12px 45px 12px 15px;
    width: 100%;
    border: 1px solid #ddd;
    background-color: rgb(245, 245, 245);
    font-size: 1rem;
    transition: all 0.3s ease;
}

.input-group input:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 3px rgba(39, 32, 74, 0.15);
}

.btn {
    width: 100%;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 600;
    background: linear-gradient(90deg, black, var(--primary));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}

.forgot {
    text-align: center;
    margin: 15px 0;
    font-size: 0.9rem;
}

.forgot a {
    color: var(--primary);
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    .auth {
        flex-direction: column;
    }
    .left {
        border-radius: 12px 12px 0 0;
    }
}

.right button {
    width: 100%;
    padding: 8px 10px;
    text-transform: uppercase;
    font-weight: 500;
    background: linear-gradient(90deg, black, var(--primary));
    /* background-color: var(--primary); */
    /* color: white;
    border: none;
    border-radius: 10px;
} */ 